<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forecast</title>
    <link rel="stylesheet" href="./style/master.css">
</head>

<body>
    {{>header}}
    <form id="weather-form">
        <input type="text" placeholder="Location">
        <button>Search</button>
    </form>
    <div id="weather-wrapper"></div>
    {{>footer}}
    <script src="./js/master.js">
    </script>
</body>

</html>